* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hdd {
  text-align: center;
  color: yellowgreen;
  font-family: "Courier New", Courier, monospace;
  font-size: 33px;
}

.nav-center {
  text-align: center;
}

.container {
  text-align: center;
}

h2 {
  color: tomato;
}

#btn-colour {
  font-size: 23px;
  font-family: "Courier New";
  background-color: aquamarine;
  border-radius: 30px;
  border-style: groove;
  border-color: violet;
}

#btn-colour:hover {
  background-color: yellow;
}
